/* ******************************************************* */
/* Layout */
/* ******************************************************* */

/* Main content area layout (normal) */
main {
	background-image: url("../images/brain-blank-gray.svg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 75%;
	background-position: center;
}

.intro {
	background-image: linear-gradient(rgba(0,0,0,1) 15%, rgba(0,0,0,0) 100%);
	padding: 0 0 5.5rem;
	text-align: center;
}

.text-box {
	background-color: rgba(0,0,0,.6);
	border: .2rem solid #CCCCCC;
	margin: 0;
	/* position: relative; */
	/* padding: 1rem; */
}

.text-box h3 {	
	min-height: 5.5rem;
	margin: 0;
	padding: .5rem 1rem 0;
	text-align: center;
}

.text-box p {
	border-top: .2rem solid #CCCCCC;
	min-height: 5.5rem;
	margin: 0 0 1rem;
	padding: .5rem 1rem 0;
}

p.con-sec-link {	
	min-height: 2rem;
	border: none;
	margin: 0;
	padding: .5rem 1rem 1rem;
}

/* bottom-box styles are meant to be added to text-box: they only vary up that look */
.bottom-box {
	border: none;
	margin: 5.5rem 0 0;
}

.bottom-box h3 {	
	min-height: 3rem;
	text-align: left;		
}

.bottom-box p {	
	border: none;	
}

/* Grid layout for All Sevices section */
#vip-content-grid {
	display: grid;
	grid-template-columns: repeat(12, minmax(0, 1fr));
	grid-auto-rows: minmax(5.5rem, auto);
	margin: 5.5rem 0 0;
}   

/* #con-sec-0 {
	grid-column: 1 / 5;
	grid-row: 1;
} */

#con-sec-1 {
	grid-column: 6 / 8;
	grid-row: 3;
	text-align: center;
}

#con-sec-2 {
	grid-column: 1 / 5;
	grid-row: 1;
}

#con-sec-3 {
	grid-column: 9 / 13;
	grid-row: 1;
}

#con-sec-4 {
	grid-column: 5 / 9;
	grid-row: 7;
}

/* #con-sec-5 h3 {
	grid-column: 1 / 5;
	grid-row: 1;
} */


/* ******************************************************* */
/* 3D shapes */
/* ******************************************************* */
#trap-top {
	grid-column: 5 / 9;
	grid-row: 1 / 3;
	text-align: center;
	background-image: url("../images/3Dfx-trap-top.svg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
} 

#para-left {
	grid-column: 1 / 6;
	grid-row: 2 / 4;
	text-align: center;
	background-image: url("../images/3Dfx-para-left.svg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
}

#para-right {
	grid-column: 8 / 13;
	grid-row: 2 / 4;
	text-align: center;
	background-image: url("../images/3Dfx-para-right.svg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
} 

#trap-bottom {
	grid-column: 5 / 9;
	grid-row: 4 / 7;
	text-align: center;
	background-image: url("../images/3Dfx-trap-bottom.svg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
} 

/* ******************************************************* */
/* Typography */
/* ******************************************************* */
.intro p {
	font-size: 1.8rem;
}

footer h3 {
	font-weight: normal;
}



/* ******************************************************* */
/* Forms */
/* ******************************************************* */
label {
    width: 8rem;
}

input#subject,textarea#message {
	width: 50rem;
}
