<section>
	<h1>Admin Home</h1>
</section>

<section>
    <h3><a href="/admin/content">Manage Content</a></h3>
    <h3><a href="/admin/social"><h3>Manage Social</a></h3>
    <h3><a href="/admin/users"><h3>Manage Users</a></h3>
</section>

