<section class="admin-page-headline">
	<h1>Admin Home</h1>
</section>

<section  class="admin-options-section">
    <h3 class="display-horiz"><a href="/admin/content">Manage Content</a></h3>
    <h3 class="display-horiz"><a href="/admin/social">Manage Social</a></h3>
    <h3 class="display-horiz"><a href="/admin/users">Manage Users</a></h3>
</section>

