@charset "utf-8";
/* CSS Document */

/* ******************************************************* */
/* Resetting Default Layout and Text */
/* ******************************************************* */

html {
	box-sizing: border-box;
	font-size: 10px;
}

/* ******************************************************* */
/* Site Universals */
/* ******************************************************* */

body {
	position: relative;
	min-height: 100vh;
	margin: 0;
	background-color: black;
	color: #FFFFFF;
	font-size: 1.6rem;
	font-family: "Segoe UI", Lato, sans-serif;
}

/* ******************************************************* */
/* Layout */
/* ******************************************************* */

/* Header, Footer & Main layout */
header {
	background-color: #222222;
	position: sticky;
	top: 0;
	width: 100%;
	margin: 0 0 5rem;
	padding: 2rem 0;
}

main {
	/* background-color: gray; */
	width: 100%;
	padding-bottom: 12rem;		/* needs to match footer height below */
}

footer {
	background-color: #222222;	
	position: absolute;
	/* left: 0; */
	bottom: 0;
	height: 12rem;           /* Footer height */	
	width: 100%;
	/* margin: 5.5rem 0 0; */
	/* padding: 1rem 2rem 2rem; */
}

footer > * {
	width: 33%;
	margin: 1rem auto;
	text-align: center;
}

/* Header Content (flexbox) (not including nav)*/
#header-content {
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
}

#header-left {	
	flex-basis: 75%;
	margin: 0;
}

#header-right {
	flex-basis: 25%;
	margin: 0;
	text-align: right;
}

/* Header Navigation */
nav {
	width: 90%;
	margin: 0 auto;	
	padding: 2rem 0 0;
	text-align: center;
}

nav ul {
	margin: 0;
}

nav ul li {
	display: inline-block;
	list-style-type: none;	
	width: 18%;
}

/* Main Content */
#main-content {
	width: 90%;
	margin: 0 auto 5rem;		/* bottom margin needs to match header bottom margin above */
}

/* Specific Sections/Elements */
h1, h2, h3, h4 {
	margin: 0;
}

.social img {
	width: 3rem;
	height: 3rem;
	background-color: #285DC2;
	border-radius: 35% 0;
}

/* ******************************************************* */
/* Typography */
/* ******************************************************* */

h1 {
	color: #BD4626;
	font-size: 3.2rem;
	font-family: "Yanone Kaffeesatz", "sans-serif";
	letter-spacing: .13rem;
}

header h1 {
	font-size: 4.8rem;
}

h2, h3, h4 {
	/* General sub-HL style - only sizes changes below */
	color: #285DC2;
	font-family: Lato, sans-serif;
} 

h2 {
	font-size: 2.4rem;	
} 

h3 {
	font-size: 2rem;
}

h4 {
	font-size: 1.8rem;
}

p, ul, ol {
	font-weight: 300;
}

.grey-text {
	color: #AAAAAA;
}

.orange-text {
	color: #E0A726;
}

.aqua-text {
	color: #1693A5;
}

.fine-print {
	font-size: 1rem;
}

/* ******************************************************* */
/* Links */
/* ******************************************************* */

/* General Links styles */
a {
	outline: none;
	text-decoration: none;
	color: #285DC2;
}

a:focus, a:hover {
	color: #1693A5;
	font-weight: bold;
}

/* Header Links styles */
h1 a, h2 a, h3 a {
	color: inherit;
}

h1 a:focus, h1 a:hover, 
h2 a:focus, h2 a:hover, 
h3 a:focus, h3 a:hover,  
h4 a:focus, h4 a:hover {
	color: #D6341D;
	font-weight: bold;
}

/* Social media links styles */
.social a img:focus, .social a img:hover {
	background-color: #1693A5;
}

/* ******************************************************* */
/* Forms */
/* ******************************************************* */
label {	
	float: left;
	clear: left;	
	vertical-align: middle;	
	width: 12rem;
}

input {
	width: 20rem;
}

select {
	width: 20.5rem;
}

textarea {
	width: 90%;
	height: 30rem;
}

input[type=email] {
	width: 30rem;
}

input[type=number] {
	width: 5em;
}

input[type=submit] {
	width: auto;
}







