<!doctype html>
<html lang="en-US">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Mark Stabler - Writer of Code, Copy, Poetry</title>
	
	<meta name="author" content="Mark Stabler">
	<meta name="description" content="Gateway to the coding, copywriting, and literary worlds of Mark Stabler. Published poet with 15 years of experience in marketing writing. Current software engineering student."/>
	<!-- add in FB and Twitter opengraph-->
	
	<!-- link to SegoeUI font, if available, not on google fonts-->
	<link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
	
	<link href="/styles/index.css" rel="stylesheet" type="text/css">
	
	<!-- add in google analytics-->
</head>

<body>
	<% if logged_in? %>
		<header>
			<h2 class="grey-text">MS.com Admin</h2>	
			<nav id="admin">
				<ul>
					<li><a href="/admin">Admin Home</a></li>
					<li><a href="/admin/content">Manage Content</a></li>
					<li><a href="/admin/social">Manage Social</a></li>
					<li><a href="/admin/users">Manage Users</a></li>
					<li><a href="/logout">Log Out</a></li>
				</ul>
			</nav>
		</header>
	<% else %>
		<header>
			<h1><a href="#">Mark Stabler</a></h1>

			<h2 class="grey-text">Writer of Code, Copy, Poetry</h2>
			
			<div class="social">
				<a href="https://www.facebook.com/StablerWriter/" target="_blank">
					<img src="images/frantic_fb.png" alt="facebook icon">
				</a>			
				<a href="https://twitter.com/stablerwriter" target="_blank">
					<img src="images/frantic_tw.png" alt="twitter icon">
				</a>			
				<a href="https://www.instagram.com/stablerwriter/" target="_blank">
					<img src="images/frantic_inst.png" alt="instagram icon">
				</a>
				<a href="https://www.linkedin.com/in/stablerwriter/" target="_blank">
					<img src="images/frantic_in.png" alt="linkedin icon">
				</a>		
			</div>
		</header>
	<% end %>
	
	<main>
		<%= yield %>
	</main>
	
	<footer>
		<h3 class="lt-orange-text">
			<a href="mailto:online@markstabler.com" target="_blank">CONTACT</a>
		</h3>
		
		<div class="social">
			<a href="https://www.facebook.com/StablerWriter/" target="_blank">
				<img src="images/frantic_fb.png" alt="facebook icon">
			</a>			
			<a href="https://twitter.com/stablerwriter" target="_blank">
				<img src="images/frantic_tw.png" alt="twitter icon">
			</a>			
			<a href="https://www.instagram.com/stablerwriter/" target="_blank">
				<img src="images/frantic_inst.png" alt="instagram icon">
			</a>
			<a href="https://www.linkedin.com/in/stablerwriter/" target="_blank">
				<img src="images/frantic_in.png" alt="linkedin icon">
			</a>
		</div>
		
		<p class="fine-print">© Stabler Writing Services, LLC</p>
	</footer>
</body>
</html>
